Adafruit-Blinka==8.6.0
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-neopixel==6.3.6
adafruit-circuitpython-pixelbuf==1.1.8
adafruit-circuitpython-requests==1.12.9
adafruit-circuitpython-typing==1.8.2
Adafruit-PlatformDetect==3.32.0
Adafruit-PureIO==1.1.9
pyftdi==0.54.0
pyserial==3.5
python-dateutil==2.8.2
pyusb==1.2.1
hjson==3.1.0
rpi-ws281x==4.3.4
RPi.GPIO==0.7.1
six==1.16.0
sysv-ipc==1.1.0
typing_extensions==4.4.0